#title_image {
    width: 100%;
}

#p_01 {
    font-size: 1.5vw;
    color: rgb(206, 206, 206);
}

#title {
    width: 50vw;
    display: block;
    margin: auto;
    margin-top: 1vw;
}

body {
    display: flex;
    background: url(other/BOATEMc.png);
    font-family: monospace;
}

#sajat_navigacio {
    position: fixed;
    background: url(other/navigation_bg.png);
    height: 100vh;
    width: 12vw;
    min-width: 70px;
    border-right: rgb(36, 30, 41) solid 5px;
    z-index: 3; /* z-index 3 */
}

#sajat_body {
    height: 100vh;
    width: 88vw;
    margin-left: 19vw;
    margin-right: 3vw;
    z-index: 2; /* z-index 2 */
    color: white;
}

.bemutato {
    margin-top: 3vw;
    font-size: 20px;
}

#sajat_nav_ul {
    color: white;
    list-style: none;
    text-align: left;
    margin-left: -20px;
    margin-top: 20px;
    font-style: bold;
}

#sajat_nav_ul li {
    padding: 5vh 0;
}

#sajat_nav_ul li a {
    font-size: 25px;  /*1.5vw*/
    text-decoration: none;
    color: rgb(212, 208, 223);
    transition: 0.1s;
}

@media screen and (max-width: 1500px) {
    #sajat_nav_ul li a {
        font-size: 15px;}}

@media screen and (max-width: 950px) {
    #sajat_nav_ul li a {
        font-size: 10px;}
    #sajat_nav_ul {
        margin-left: -25px;}}
        
@media screen and (max-width: 650px) {
    #sajat_nav_ul li a {
        font-size: 8px;}}
    

#sajat_navigacio img {
    width: 6vw;
    min-width: 50px;
    display: block;
    margin: auto;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

#sajat_nav_ul li a:hover {
    color: rgb(152, 120, 173);
    transition: 0.1s;
}

#body_overlay {
    position: absolute;
    background: black;
    opacity: 60%;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* z-index 1 */
}

.channel_links {
    color: white;
}

.channel_links:hover {
    color: rgb(197, 157, 235);
}

.table {
    width: 60vw;
    margin: auto;
    vertical-align: middle;
}

.sajat_icon {
    width: 2vw;
}

h2 {
    margin-top: 5vh;
    margin-bottom: 1vh;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.channel_links_2 {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.channel_links_2:hover {
    color: rgb(165, 123, 216);
}

.random_image {
    width: 40vw;
    margin: auto;
    min-width: 300px;
}

.random_image img {
    width: 100%;
}

.random_image p {
    font-size: 10px;
}

h3 {
    color: rgb(180, 176, 192);
}

p {
    font-size: 20px;
}

.sajat_grid_image {
    width: 33vw;
    min-width: 300px;
    margin: auto;
}

@media screen and (max-width: 680px) {
    td {
        font-size: 10px;}}

@media screen and (max-width: 680px) {
    th {
        font-size: 12px;}}